@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h4><b>Adam Brown</b></h4>
    <p>
        My name is Adam Brown and I am a fourth year in the CECH Information Technology - Software Development track. I was 
        originally in Finance but decided Information Technology suited me much more. I don't always get the chance to play many games
        but when I do I typically play Rainbow Six Siege with my roomates, my brother, and my brothers friends. I also have minecraft
        but I don't really get on that much. My first console was a PS2 and I loved playing LA Rush with my brother and eventually we 
        started playing Call of Duty once we got the PS3. But now I have a PC that I built and will probably never go back to console 
        games becuase it has so many more games compared to console. That's just a little bit about me but I hope you 
        enjoy our page!
    </p>
</div>
<div class="text-left">
    <h4><b>Jaspreet</b></h4>
    <p>
        Hey my name is Jaspreet. I also go by Jazzy. I am a second year IT student. I was used to love playing video games when I was a kid. I know some would argue I am still
        a kid. Anyways, I stopped playing because whenever I played, I played for 6-7 hours straight without any breaks. My eyesight started to get bad.
        Hence, I packed all my video games, and threw them in a trash can. 
        Since then, I only play video games when I am at my friend's house otherwise don't.
    </p>
</div>
<div class="text-left">
    <h4><b>Jeremy Mazurowski</b></h4>
    <p>
        My name is Jeremy Mazurowski. I am a fourth year here in the IT Software Development track. I was originally in aerospace engineering
        but quickly realized that was not for me. As a kid I loved playing video games mainly on the Playstation 2 with my father. I currently
        have an Xbox and enjoy playing many sports franchises such as MLB, Madden, FIFA, etc. and also enjoy games like Call of duty.
    </p>
</div>
<div class="text-left">
    <h4><b>Robert </b></h4>
    <p>
        My name is Robert Hart. I am a fourth year in Information Technology on the Software Development track. I enjoy all forms of
        video games when I get some free time to play them! My favorites are the old pokemon games for the gameboy and darksouls or
        valorant for PC. I briefly owned an xbox 360 and enjoyed playing Black Ops 2 and GTA 5. I Primarily use my PC that I built
        three years ago.
    </p>
</div>
<div class="text-left">
    <h4><b>Sukhbir</b></h4>
    <p>
        Hey! My Name is Sukhbir Sekhon and I am a third-year IT and MBA student at UC. I love to code and work on personal projects. My official track in
        IT is software developement and networking. I love technology especially cloud computing. I believe that future is Cloud.
        I also love to play cricket. I like running. I enjoy playing video games like CSGO and COD.
    </p>
</div>
