@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div class="text-left">
    <h4><b>Adam Brown</b></h4>
    <p>
        My name is Adam Brown and I am a fourth year in the CECH Information Technology - Software Development track. I was 
        originally in Finance but decided Information Technology suited me much more. I don't always get the chance to play many games
        but when I do I typically play Rainbow Six Siege with my roomates, my brother, and my brothers friends. I also have minecraft
        but I don't really get on that much. My first console was a PS2 and I loved playing LA Rush with my brother and eventually we 
        started playing Call of Duty once we got the PS3. But now I have a PC that I built and will probably never go back to console 
        games becuase it has so many more games compared to console. That's just a little bit about me but I hope you 
        enjoy our page!
    </p>
</div>
<div class="text-left">
    <h4><b>Jaspreet</b></h4>
    <p>
        
    </p>
</div>
<div class="text-left">
    <h4><b>My name is Jeremy Mazurowski. I am a fourth year here in the IT Software Development track. I was originally in aerospace engineering
        but quickly realized that was not for me. As a kid I loved playing video games mainly on the Playstation 2 with my father. I currently
        have an Xbox and enjoy playing many sports franchises such as MLB, Madden, FIFA, etc. and also enjoy games like Call of duty. </b></h4>
    <p>
        
    </p>
</div>
<div class="text-left">
    <h4><b>Robert </b></h4>
    <p>
        
    </p>
</div>
<div class="text-left">
    <h4><b>Sukhbir</b></h4>
    <p>
        
    </p>
</div>
