@{
    ViewData["Title"] = "Virtual Reality";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/site.css">

<br />

<h2>What is it?</h2>

<p>
    The future of gaming is Virtual Reality. People will transition from just seeing and playing games on a monitor or TV to almost living in the games.
    With the help of Virtual Technology, one can be fully immersed in any enviroment they desire. Virtual Reality is usually displayed directly to the eyes by wearing a headset.
    The headset completely covers the eyes for an immersive 3D experience. Many prgrams run in VR utilize controllers. They can act as your arms and legs in Virtual space.
    Movement of the controllers register your arms and hands moving while the buttons on the contoler manipualted by your fingers move your person in the space.
    Some headsets let you move around and spin around as much as your power cord and space allow.
</p>

<br />
<img src="~/images/v3.JPG" />
<br />

<h2>Progression of Virtual Technology</h2>
<p>
    The first ever “virtual reality headset” was called The Sword of Damocles and was created in 1962. It was so heavy it needed to be suspended
    by the ceiling and it could only see simple wire-frame model rooms and did not play games.In 2012 the Oculus Rift is demonstrated at E3 and would
    pave thwe way for other VR companies to join the market. Virtual reality gaming has only just started its chapter and has recently become widely
    available and playable. Today Oculus and HTV fight for dominance over the VR headset market. The technology increases every year and makes the exerience even better.
    With more people buying headsets and games companies are more likely to enter the market and strive to get a piece of the pie.
</p>

<br />
<img src="~/images/v4.JPG" />
<br />

<h2>Virtual Reality Technology</h2>
<p>
    Virtual Reality headsets and controllers utilize many pieces of software and hardware all coupled together to create the seamless virtual space. Whether powered
    by pc or by phone the combination of Accelerometer, magnetometer, gyroscope, and proximity Sensors all work to process the users movements.
    While the technology is amazing it comes at a hefty cost. The amazing software and hardware thatt make Virtual reality possible is also its biggest downfall.
    The PC's needed to power these headsets and games must be robust and have dedicated graphics. The PC runs the game on the monitor and diplays each eye individually in 3D.
    The PC alone at minimum for a decent expeience costs around $500. You add in the price of the headset around $300 and it's starting to look like a costly hobby.
    While it does come with a large price tag the exerience is worth it.
</p>

<br />
<img src="~/images/v2.JPG" />
<br />

<h2>Gaming in Virtual Reality</h2>
<p>
    There are many types of games one can find to play in VR. They have card games, simulation games, racing games, flying games, adventure games, fighting games and so much more.
    with studios creating new games year there is never a short of things to do in VR. There are games where you can weild a lightsaber and but boxes flying at you to the beat of a song.
    like a hybrid game of guitar hero and fruit ninja. One game is called super Hot and it lets you slow down time to take out opponents. Some games let you paint in 3D and some let you
    ride roller coasters! There are tons of games and they range in price from 10-70 dollars. The future is in Virtual Reality, will you step into a new world?
</p>

<br />
<img src="~/images/v1.JPG" />