@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Video Games have been a part of our lives since we got our hands on our first console. Whether that was a Nintendo 64 or a PS2, since that day friends have been met 
    and memories have been made. This website will give some overview of our favorite types of games and a list of our favorite games. Check it out and feel free to add to our list with your favorite 
    games. </p>
</div>
